@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2 class="display-3">to</h2>
        <h2 class="display-3">BERRAS BIO</h2>

    </div>

